.editor {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  .button-bar {
    width: 100%;
    height: 50px;
    background-color: gray;
    padding: 6px;
    display: inline-flex;
    .btn {
      height: 30px;
      width: 60px;
      margin: 3px;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px;
    }
    .dropdown {
      position: relative;
      span {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 28px;
      }
      .color_pallet {
        display: flex;
        flex-direction: column;
        width: 100px;
        border: 1px solid gray;
        position: absolute;
        top: 40px;
        left: -30px;
        .picked {
          display: flex;
          .picked_color {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            display: block;
            margin: 16px auto 0;
          }
        }
        .pallets {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          .box {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            display: block;
            margin: 0 auto;
            padding: 3px;
            .color_item {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .dropdown_item {
      position: absolute;
      width: 100px;
      height: fit-content;
      text-align: center;
      background-color: #fff;
      border: 1px solid gray;
      top: 29px;
      left: -29px;
      .table-box {
        display: flex;
        padding: 10px;
        input {
          border-radius: 5px;
          width: 20px;
          height: 20px;
          outline: none;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .dropdown_list {
        cursor: pointer;
      }
    }
    .active {
      background-color: red;
    }
  }
  .text-box {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    padding: 5px;
  }
}

#editorBox {
  width: 100%;
  height: 100%;
}

.zoom {
  position: absolute;
  left: 0;
  width: 98% !important;
  padding-left: 10px !important;
  height: 90% !important;
  background-color: #ffffff;
}
